@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased touch-manipulation;
  }

  input, select, button {
    @apply touch-manipulation;
  }
}

.transform-3d {
  transform: perspective(1000px) rotateX(5deg);
}

/* Improve tap target sizes on mobile */
@media (max-width: 768px) {
  button, 
  input, 
  select {
    min-height: 44px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
